.form-item {
  width: 100%;
  max-width: 300px;
  display: table;
  margin-bottom: 10px;

  &.has-error {
    input {
      border: 1px solid red;
    }
  }

  .label-text {
    margin-top: 0;
  }

  input {
    width: 100%;
    max-width: 300px;
    display: table;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin: 0;
    line-height: 100%;
  }
}