.simple-product {
  flex: 0 1 200px;

  img {
    width: 100%;
    max-width: 200px;
    height: 150px;
    object-fit: cover;
    object-position: top center;
  }

  &.grow {
    flex: 1 1 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 15px;
    img {
      width: 150px;
      height: 100px;
    }
  }
}