.modal-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  &:not(:has(.modal-button--outline)){
    justify-content: center;
  }
}

.modal-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14.5px 50px;
  background: #8a33fd;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  border-radius: 8px;
  font-size: 16px;
  border-color: transparent;
  text-transform: uppercase;
  transition: all .25s linear;
  color: #fff;

  &--outline {
    border: 1px solid #3C4242;
    background: #fff;
    color: #8a33fd;
    padding-inline: 20px;
  }

  &:hover {
    cursor: pointer;
    transform: translateY(2px);
  }
}