.footer-holder__item {
  flex: 0 1 250px;

  li {
    font-weight: 500;
    font-size: 18px;
    display: table;
    margin-bottom: 15px;

    a:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 768px) {
    flex-grow: 1;
  }
}