.footer {
  background: #3C4242;
  color: #fff;
  padding-bottom: 20px;

  ul {
    list-style-type: none;
    padding-left: 0;
  }

  a, a:visited {
    color: #fff;
    text-decoration: none;
  }

}